.blue{
    width: 100%;
    height: 250px;
    background: blue;
    padding: 20px 0;
}.header{
    width: 100%;
    height: 250px;
    background: red;
}.footer{
    width: 100%;
    height: 250px;
    background: grey;
}.green-box{
    width: 200px;
    height: 200px;
    background-color: green;
    float: left;
    margin-left: 450px;
    margin-top: 20px;
}.yellow-box{
    width: 200px;
    height: 200px;
    background-color: yellow;
    float: right;
    margin-right: 450px;
    margin-top: 20px;
}